$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
$primary-padding: 32px 152px 0px 152px;
$primary-card-background: #D7D7D7;
$layout-border: solid black 3px;
$confirm: #61BD36;
$decline: #BD3636;  
