/* This is an example of how to import a partial scss file*/
@import '_variables';
@import 'reset';
@import '_mixin';

body {
  padding: $primary-padding;
}

.d-flex{
  display: flex;
}

.justify-content-space-between{
  justify-content: space-between;
}

.align-content-center {
  align-content: center;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}


.flex-column {
  flex-direction: column;
}

.user-badge {
  height: 50px;
  width: 171px;
}

.dashboard-cards {
  padding-top: 32px;
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-card-background;
    height: 80px;
    width: 848px;
    margin-top: 24px;
  }

  img{
    width: 80px;
    height: 80px;
  }
}

.dashboard-buttons {
  height: 40px;
  // width: 848px;
  button {
    height: 40px;
    width: 200px;
  }
}

.hidden {
  display: none;
}

.login-card {
  @include height-width(290px, 100%);
  background-color: $primary-card-background;
  margin-top: 144px;

  div {
    @include height-width(67px, 296px);
  }

  input[type="submit"] {
    align-self: end;
  }

  input {
    margin-top: 4px;
  }
}

.confirm-button {
  background-color: $confirm;
  color: white;
}

.decline-button {
  background-color: $decline;
  color: white;
}
